%h1 Show entry

.row
  .col-sm-4
    %p
      %b Name:
      = @entry.name
    %p
      %b Description:
      = @entry.description
    %p
      %b Original filename:
      = @entry.filename_user
    %p
      %b Filesize:
      = number_to_human_size(@entry.filesize)
    %p
      %b Uploaded from IP address:
      = @entry.upload_ip

  .col-sm-8
    %p
      Check if a node exists in this data:
      %form{"accept-charset" => "UTF-8",
          :action => "/entries/#{@entry.id}/search",
          "data-remote" => "true",
          :method => "post"}
        = text_field_tag 'node'
        = submit_tag 'Search'
      %p{:id => "search-result-#{@entry.id}"} ...
      %br
      %b XML Data:
      %br
      = @entry.fetch_data

.row
  = link_to 'Back', entries_path
